body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;

}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
    z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../img/icons/next.png);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 23px;
}

.section {
    padding: 100px 0;
}
/**********************
*Navigation
*/
#navigation{
    background-color: #e74c3c;
    padding: 15px 25px;
    z-index: 100;
    width: 100%;
    font-family: Montserrat, sans-serif!important;
}
#navigation li{
    padding: 0 10px;
}
#navigation li a{
    color: #FFF;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: bolder!important;
    line-height: 1;
    letter-spacing: 1px;
}
#navigation li a:hover{
    color: #111;
    transition: 0.8s;
    transition-timing-function: ease;
}
.navbar-brand{
    font-family: Motserrat, sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.navbar-brand,
.navbar-brand:hover{
    color: #FFF;
}
.navbar-toggler-icon{
    background: url("../img/icons/menu.png");
    background-size: 100%;
}
.fixedNav #navigation {
    position: fixed;
    top: 0;
}















/*************************
*About Section
*/
.aboutImage {
    max-width: 100%;
}

.contactSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/about-vision-get.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 40px;
}

.skillsSection,
.contactSection {
    background-color: #e74c3c;
    color: #fff;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}


.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
    right: 0px;
}

.squareInnerContainer:after {
    left: 0px
}


.squareContent h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #e74c3c;
    font-family: "Montserrat", sans-serif;
}

.squareContent h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

/***************
*Get IN Touch
*/
.subHeading {
    font-size: 14px;
    letter-spacing: 3px;
}

.contactButton {
    color: #FFF;
    padding: 15px 25px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid silver;
    border-radius: 2px;
    font-weight: 500;
    font-size: 19px;
    line-height: 1;
}

.contactButton:hover {
    color: #e74c3c;
    background-color: #FFF;
    text-decoration: none;
    transition: 0.5s all ease;
}

#promo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/about-vision.jpg) background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 40px;
}

/*****************************
*portfolio section
*/

.filter{
    margin-bottom: 20px;
}
.filter a {
    color: #222;
    padding: 8px 18px;
    display: block;
    text-decoration: none;
}
#filters li{
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    //padding: 3px 0px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.filter li {
    display: inline-block;
}
#filters li:hover a{
    background-color: #e74c3c;
    transition: all 0.6s ease-in-out;
    color: #FFF!important;
    border-radius: 4px;
    cursor: pointer;
    
}


#filters li .current {
   background-color: #e74c3c;
    border-radius: 4px;
    display: block;
    color: #FFF;
}

.filter {
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.itemsContainer {
    width: 100%;
}


.items .item img {
    width: 100%;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #e74c3c;
    position: relative;
    display: inline-block;


    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;

}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.4s linear, 1s;
    -moz-transition: all 0.4s linear, 1s;
    -o-transition: all 0.4s linear, 1s;
    -ms-transition: all 0.4s linear, 1s;
    -transition: all 0.4s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0px;
}

.items .item:hover .projectLink {
    right: 0px;
}

.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
    padding: 0;
    
}

.contact a {
    text-decoration: none;
}

.contact li a i {
    color: #18D36E;
}

.copyright-area {
    background: #111111;
    padding: 40px 0px 30px 0;
    width: 100% !important;
    color: #FFFFFF;
}

.socialmedia-icon {
    margin-left: -50px;
    margin-bottom: 20px;
}

.socialmedia-icon ul li {
    list-style-type: none;
    float: left;
    padding-top: -10px;

}

.icon li a {
    text-decoration: none;
    padding: 5px 10px;
}

.caption-img h4 {
    text-align: center;
    font-size: 18px;
    color: #333;
    padding-top: 20px;
    font-weight: bold;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    
}
.caption-img h4:hover{
    color: #e74c3c;
    transition: 0.4s ease all;
    cursor: pointer;
}
.caption-img h5 {
    text-align: center;
    font-size: 13px;
    color: #333;
    font-weight: bold;
    line-height: 80%;
    font-family: "Montserrat", sans-serif!important;
}

.itemsContainer li {
    //box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
     position: absolute;
    //border: 1px solid #18D36E;
    //margin: 10px;
}

.itemsContainer li:hover {
    //box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
}

.apps img {
    width: 100%;
    height: 250px;
    border-radius: 3px 3px 0 0;
    border: none;

}
.itemsContainer .apps{
    margin-bottom: 20px!important;
    position: absolute;
    //box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.4s;
     position: absolute;
    //border: 1px solid #18D36E;
    margin-bottom: 20px!important;
    
}

/*------------Services-----------*/
/* #services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(img/service.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container h1 {
    text-align: center;
    color: #F7F7F7 !important;
    padding-bottom: 10px;
    font-size: 40px;
    line-height: 1.6;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}


.services {
    margin-top: 40px;
}

.icon {
    font-size: 40px;
    margin: 20px auto;
    padding: 10px;
    height: 80px;
    width: 80px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

#services p {
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
    color: #ccc;
}

.services .col-md-3:hover {
    background: #e74c3c;
    cursor: pointer;
    transition: 0.7s;
} */

body{
    margin-top:20px;
    background:#eee;
}
.card::after {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 35px;
    background-color: #fff;
    -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
    content: '';
    z-index: -1;
}
a.card {
    text-decoration: none;
}

.card {
    position: relative;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.bg-white {
    background-color: #fff !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.d-block {
    display: block !important;
}
img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.card-text {
    padding-top: 12px;
    color: #8c8c8c;
}

.text-sm {
    font-size: 12px !important;
}
p, .p {
    margin: 0 0 16px;
}

.card-title {
    margin: 0;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.pt-1, .py-1 {
    padding-top: .25rem !important;
}

.head-icon{
    margin-top:18px;
    color:#FF4500
}


/***********************
*Footer Section
 */
.footer-height{
    height: 230px;
}
#footer-area {
    padding: 90px 0 60px 0;
    background: #222222;
    color: #A1A1A1;
}

#footer-area p {
    font-size: 15px;
    margin-bottom: 25px;
}

.footer-social {
    margin-top: 20px;
}

.single-footer h2 {
    font-size: 23px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fafafa;
    margin-bottom: 25px;
    text-align: left;
}
.single-footer p{
    text-align: justify;
    color: silver;
}
.single-footer h2::after {
    left: 0;
    top: 1px;
    margin-left: 3px !important;
    z-index: 1;
    width: 3px;
    height: 25px;
    content: " ";
    text-align: center;

    text-align: center;
    position: absolute;
    background: tomato;
}
.single-footer ul li a{
    text-align: justify;
    color: silver;
}


.single-footer h3::after {
    left: 0;
    top: 1px;
    margin-left: 14px !important;
    z-index: 1;
    width: 3px;
    height: 20px;
    content: " ";

    text-align: center;
    position: absolute;
    background: tomato;
}

.single-footer h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #fafafa;
    margin-bottom: 25px;
    font-size: 18px;
    padding-left: 10px;
}

.list-inline {
    display: inline;
}

.link-area li {
    list-style: none;
    padding: 5px 5px 5px 0;
    text-align: left;
}

.link-area li a {
    text-transform: uppercase;
    color: #efefef;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.link-area li a i {
    margin-right: 5px;
    color: #e74c3c;
    height: 26px;
    width: 26px;
    font-size: 16px;
}

.link-area {
    padding: 0;
}

.lower-case a{
    text-transform: lowercase!important;
} 

.social-links a{
    font-size: 18px;
    display: inline-block;
    //background: azure;
    color: #eee;
    line-height: 1;
    padding: 0px 0px;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.social-links {
    font-size: 20px;
}
.social-links a i{
    padding: 8px 8px;
}
.fa-twitter{
    color: #55acee;
}
.fa-facebook-f{
    color: #3b5999;
}   
.fa-instagram{
    color: #e4405f;
}
.fa-youtube{
    color: #cd201f;
}
.fa-linkedin{
    color: #0077B5;
}


.fa-twitter:hover {
    background-color: #55acee;
    color: #FFF;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 0;
    
}
.fa-facebook-f:hover{
    background-color: #3b5999;
    color: #FFF;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 0;
}   
.fa-instagram:hover{
    background-color: #e4405f;
    color: #FFF;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 0;
}
.fa-youtube:hover{
    background-color: #cd201f;
    color: #FFF;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 0;
}
.fa-linkedin:hover{
    background-color: #0077B5;
    color: #FFF;;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 0;
}

