body {
    padding: 0;
    margin: 0;
    background: #eee;
}
.container {
    width: 60%;
    margin: 0 auto;
}
.content {
    margin: 10% 0;
}
.nav {
  margin-top: 150px;
  text-align: center;
}
.nav a {
    display: inline-block;
    color: blue;
    font-weight: bold;
    margin: 0 20px;
    text-decoration: none;
}
.nav a:hover {
    color: orange;
};
